@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../../public/static/images/Background.jpg');
    background-repeat: repeat;
    background-size: 60%;

}

.ugly_input {
    @apply border-2 border-red-500 bg-gradient-to-b from-cheese1 via-cheese2 to-cheese3 text-white w-full py-2 px-3;
}